!!!
%html
  %head
    %title App Title
    = include_stylesheets :html
    = include_javascripts :html
    = csrf_meta_tag
    -# %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" }
    -# %meta{ :name => "format-detection", :content => "telephone=no" }
  
  %body= yield